---
layout: page
title: Mapa del tancament de línies de l'ensenyament públic
permalink: /tancament-linies-ensenyament-public-no-universitari/
image: /img/mapa-privatitzacio-linies.jpg
description: Mapa del tancament de línies de l'ensenyament públic no universitari de Catalunya.
showImage: true
---
<p><i>La Generalitat de Catalunya està continuament tancant línies educatives, i alhora manté i augmenta el concert als centres privats.</i></p>
<p><i>Tot i ser una realitat que es repeteix a cada curs quan estem a tocar les preinscripcions, a partir d'ara anirem marcant al mapa tots els tancaments de línies que el Departament d'Educació practica contra el dret de tothom als ensenyaments públics per destinar més diners públics als privats que no són cap dret.</i></p>
<p>Cada pin vermell és una escola pública o institut públic d'ensenyament no universitari de Catalunya.</p>
<p><strong>Per veure l'historial de tancaments de línies registrats a cada escola, prem sobre un pin.</strong></p>
<p><i>Vols que afegim el cas o casos de tancament de línies de la vostra escola? Envia'ns l'avís a <a href="mailto:denunciagroga@gmail.com">denunciagroga@gmail.com</a></i></p>

<div id="mapa-tancaments"></div>
<style>
#mapa-tancaments {
    width: 100%;
    height: 600px;
}
</style>
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
 integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
 crossorigin=""/>
 <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js"></script>
   <script src="../mapa-tancament-linies.js"></script>
<script>

var converter = new showdown.Converter()


var map = L.map('mapa-tancaments').setView([41.5528, 2.0201], 8);

L.tileLayer( 'https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',
    subdomains: ['a','b','c']
}).addTo( map );

var scissorsIcon = L.icon({
    iconUrl: '../img/icona-retallades.png',
    iconSize:     [20, 20], // size of the icon
    iconAnchor:   [0, 0], // point of the icon which will correspond to marker's location
    popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
});

const markers = {}
	
for (let { lat, long, name: schoolName, courses } of mapaTancamentsMarkers)
{
    const text = converter.makeHtml(courses.map (({ name, text, url }) => 
        `
## ${schoolName}
**Curs ${name}**
- <a href="${url}" target="_blank">${text}<a>
`).join('<br>'))

const marker = L.marker( [long, lat], { icon: scissorsIcon} )

markers [`${long},${lat}`] = marker
marker.bindPopup( text ).addTo( map )
}

function focusMarker (lat, long) {
    map.setView({ lat: long, lng: lat },40)
    markers [`${long},${lat}`].openPopup()
}
</script>

<br>


<section>
    <h3>Llistat de tancaments</h3> 
<p><i>Si prems sobre el nom d'una escola pública, es visualitzarà al mapa!</i></p>

{% assign grouped = site.data.tancamentLinies | sort: 'locality' | group_by: "locality" %}

{% for locality in grouped %}
<section>
<h4>{{ locality.name }}</h4>
{% for center in locality.items %} 
<article>
    <h5 onclick="focusMarker({{ center.lat }},{{ center.long }})"><a href="#mapa-tancaments">{{ center.name }}</a></h5>
    <ul>
    {% for course in center.courses %}
        <li>
            <p>{{ course.name }} <a href="{{ course.url }}" target="_blank">{{ course.text }}</a></p>
            
        </li>
    {% endfor %}
    </ul>
</article>
{% endfor %}
</section>
{% endfor %}
<br>
<blockquote class="twitter-tweet" data-lang="es"><p lang="ca" dir="ltr">Mapa dels tancaments de línies de l&#39;ensenyament públic no universitari de Catalunya.<br><br>Cap tancament de línies a escoles públiques i institus públics! Omplim el mapa de la vergonya!<a href="https://twitter.com/hashtag/SOSEmerg%C3%A8nciaEducativa?src=hash&amp;ref_src=twsrc%5Etfw">#SOSEmergènciaEducativa</a> <a href="https://twitter.com/hashtag/LaConcertadaEnsRoba?src=hash&amp;ref_src=twsrc%5Etfw">#LaConcertadaEnsRoba</a><a href="https://twitter.com/hashtag/Segregaci%C3%B3Escolar?src=hash&amp;ref_src=twsrc%5Etfw">#SegregacióEscolar</a><a href="https://t.co/3EGxHavSKO">https://t.co/3EGxHavSKO</a></p>&mdash; Denúncia Groga (@DenunciaGroga) <a href="https://twitter.com/DenunciaGroga/status/1208373043850043392?ref_src=twsrc%5Etfw">21 de diciembre de 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
