---
layout: catalog
title: Models de denúncia
excerpt: El catàleg de models de denúncies de famílies o docents
---

<section>
   <p>Aquest és el llistat de models de denúncia. Estan classificats per aquells que són per <strong>famílies</strong> o <strong>docents</strong>.</p>

</section>

<section>
   {% for mainTag in site.mainTags %}
   {% assign categoryCount = 0 %}
	   {% for post in site.pages %}
		   {% if post.categories contains "famílies" %}
		   {% if post.categories contains mainTag %}
		   		{% assign categoryCount = categoryCount | plus: 1 %}
		   {% endif %}
		   {% endif %}
      {% endfor %}
	   
   {% unless categoryCount == 0 %}
   <div>
   <h3>{{mainTag| replace: "-", " "}} ({{categoryCount}})</h3>
   <ol class="post-list">
      {% for post in site.pages %}
      {% if post.categories contains mainTag %}
      <li>
         <a href="{{ post.url | replace:'.html','' | prepend: site.baseurl }}" title="{{ post.title }}">
            <div>
               <h4 class="model-title">{{ post.title }}</h4>
               <aside>
                  <ul class="tags">
                     {% for tag in post.categories %}
                     {% unless tag == mainTag %}
                     <li>{{tag}}</li>
                     {% endunless %}
                     {% endfor %}
                  </ul>
               </aside>
            </div>
         </a>
      </li>
      {% endif %}
      {% endfor %}
   </ol>
   </div>
   {% endunless %}
   {% endfor %}
</section>

<section id="models-docents">
   {% for mainTag in site.mainTags %}
   {% assign categoryCount = 0 %}
	   {% for post in site.pages %}
		   {% if post.categories contains "docents" %}
		   {% if post.categories contains mainTag %}
		   		{% assign categoryCount = categoryCount | plus: 1 %}
		   {% endif %}
		   {% endif %}
      {% endfor %}
	   
   {% unless categoryCount == 0 %}
   <div>
   <h3>{{mainTag| replace: "-", " "}} ({{categoryCount}})</h3>
   <ol class="post-list">
      {% for post in site.pages %}
      {% if post.categories contains mainTag %}
      <li>
         <a href="{{ post.url | replace:'.html','' | prepend: site.baseurl }}" title="{{ post.title }}">
            <div class="md-list-item-text">
               <h4 class="model-title">{{ post.title }}</h4>
               <aside>
                  <ul class="tags">
                     {% for tag in post.categories %}
                     {% unless tag == mainTag %}
                     <li>{{tag}}</li>
                     {% endunless %}
                     {% endfor %}
                  </ul>
               </aside>
            </div>
         </a>
      </li>
      {% endif %}
      {% endfor %}
   </ol>
   </div>
   {% endunless %}
   {% endfor %}
</section>