<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}

  <meta name="twitter:card" content="summary"> 
  <meta name="twitter:site" content="@denunciagroga"> 
  <meta name="twitter:title" content="Your {{ page.title }}"> 
  <meta name="twitter:description" content="{{ page.description }}"> 
  <meta name="twitter:image" content="{{ site.url }}{{ page.image }}"> 
  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>